<ion-header>
  <ion-navbar>
    <ion-title>
      Liste des acquisitions
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <button ion-button full class="submit-button"(click)="createTest()">
    <ion-icon name="send"></ion-icon>Creation test
  </button>


  <ion-list *ngIf="allSpecters">
    <ion-item-sliding *ngFor="let specter of allSpecters; let i = index" (click)="openAcq(specter)" #item>

      <ion-item>
        {{specter.name}}
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="danger" (click)="delete(i)">
          <ion-icon name="trash"></ion-icon>
          Supprimer
        </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
</ion-content>
