<ion-header>
  <ion-navbar>
    <ion-title>
      {{pageTitle}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <p *ngIf="!isConnected && isNewAcq">{{errorMsg}}</p>


  <!-- <button ion-button full class="submit-button"(click)="startAcquisition2()">
    <ion-icon name="send"></ion-icon>Nouvelle acquisition
  </button> -->
  
  <div *ngIf="isConnected">
    <button ion-button full class="submit-button" *ngIf="isNewAcq" (click)="startAcquisition()">
      <ion-icon name="send"></ion-icon>Lancer une nouvelle acquisition
    </button>

    <button ion-button full class="submit-button" *ngIf="!isSaved" (click)="saveSpecter()">
      <ion-icon name="star"></ion-icon>Sauvegarder
    </button>
  
    <button ion-button full class="submit-button" *ngIf="isSaved" (click)="saveAsCsv()">
      <ion-icon name="star"></ion-icon>Sauvegarder en CSV
    </button>
  </div>
  
  <ion-card>
    <ion-card-content>
      <canvas #lineCanvas></canvas>

      <svg
        viewBox="0 0 500 36"
        id="svgContent"
        #colorSpecter>

        <defs
          id="defs4">
          <linearGradient
            id="linearGradient2766"
            x1="-1.5"
            y1="18.046823"
            x2="501.5"
            y2="18.046823"
            gradientUnits="userSpaceOnUse"
          
          >
          <stop
            style="stop-color:fuchsia;stop-opacity:1;"
            offset="0"
            id="stop2764"/>
          <stop
            style="stop-color:blue;stop-opacity:1;"
            offset="0.2"
            id="stop2778" />
          <stop
            id="stop2776"
            offset="0.4025"
            style="stop-color:aqua;stop-opacity:1;" />
          <stop
            style="stop-color:lime;stop-opacity:1;"
            offset="0.60312498"
            id="stop2774" />
          <stop
            id="stop2772"
            offset="0.80156249"
            style="stop-color:yellow;stop-opacity:1;" />
          <stop
            style="stop-color:red;stop-opacity:1;"
            offset="1"
            id="stop2762" />
            
          </linearGradient>
        </defs>
        <g id="layer1">
          <rect
            style="fill:url(#linearGradient2766);fill-opacity:1.0;stroke:none;stroke-width:3;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
            id="rect1872"
            width="500"
            height="36"
            x="0"
            y="0.046822742" />
          <path id="absorptionPath" d="" #absorptionPath/>
        </g>
      </svg>
    </ion-card-content>
  </ion-card>
</ion-content>
