<ion-header>
    <ion-navbar>
      <ion-title>
        Bluetooth Connection
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <button ion-button full class="submit-button" (click)="listPairedDevices()">
      <ion-icon name="refresh"></ion-icon>&nbsp;Rafraichir la liste des appareils bluetooth
    </button>

    <ion-row>
      <ion-col>
        <ion-list radio-group [(ngModel)]="pairedDeviceID" *ngIf="listToggle">
          <ion-item *ngFor="let i of pairedList;let j=index">
            <ion-label>{{i.name}}</ion-label>
            <ion-radio value="{{j}}" ></ion-radio>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <button ion-button full class="submit-button" *ngIf="listToggle" (click)="selectDevice()">
      <ion-icon name="bluetooth"></ion-icon>&nbsp;Se connecter à l'appareil sélectionné
    </button>
    
  </ion-content>