<ion-header>
    <ion-navbar>
      <ion-title>
        Paramètres
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>

    <button ion-button full class="submit-button" (click)="enableBluetooth()" *ngIf="!bluetoothOn">
      Activer le bluetooth
    </button>

    <div *ngIf="bluetoothOn">
      <button ion-button full class="submit-button" (click)="scanForUnpaired()">
        Ajout d'un nouvel appareil
      </button>
      <p>Unpaired</p>
      <ion-row>
        <ion-col>
          <ion-list radio-group [(ngModel)]="unpairedDeviceID">
            <ion-item *ngFor="let i of unpairedList;let j=index">
              <ion-label>{{i.name}}</ion-label>
              <ion-radio value="{{j}}" ></ion-radio>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <p>paired</p>
      <ion-row>
        <ion-col>
          <ion-list radio-group [(ngModel)]="pairedDeviceID" *ngIf="listToggle">
            <ion-item *ngFor="let i of pairedList;let j=index">
              <ion-label>{{i.name}}</ion-label>
              <ion-radio value="{{j}}" ></ion-radio>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <button ion-button full class="submit-button" *ngIf="listToggle" (click)="selectDevice()">
        <ion-icon name="bluetooth"></ion-icon>&nbsp;Se connecter à l'appareil sélectionné
      </button>
      <button ion-button full class="submit-button" (click)="selectDeviceUnpaired()">
        <ion-icon name="bluetooth"></ion-icon>&nbsp;Se connecter à l'appareil sélectionné (unpaired)
      </button>
  
    </div>
    
    
  </ion-content>